{
  "extends": "react-native-wcandillon",
  "rules": {
    "linebreak-style": ["error", "unix"],
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-named-as-default": 0,
    "import/prefer-default-export": "off",
    "import/extensions": 0,
    "import/no-anonymous-default-export": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-var-requires": 0,
    "curly": "off"
  }
}
